@font-face {
    font-family: "Vazir";
    font-weight: 400;
    font-style: normal;
    src: url("/Assets/Fonts/Vazirmatn-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Vazir";
    font-weight: 500;
    font-style: normal;
    src: url("/Assets/Fonts/Vazirmatn-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "Vazir";
    font-weight: 600;
    font-style: normal;
    src: url("/Assets/Fonts/Vazirmatn-SemiBold.woff2") format("woff2");
}
@font-face {
    font-family: "Vazir";
    font-weight: 700;
    font-style: normal;
    src: url("/Assets/Fonts/Vazirmatn-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "Vazir";
    font-weight: 900;
    font-style: normal;
    src: url("/Assets/Fonts/Vazirmatn-Black.woff2") format("woff2");
}

body,
button{
    font-family: "Vazir";
}